<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="./css/bootstrap.min.css" >
  
      <title>Netflix</title>
  </head>
  <body style="text-align: center;">
    <h1>AP HTTP</h1>
    <img src="/home.png" style="width:5%;">
    <br />
    <a href="/signup">Go to sign up page</a>
    <br />
    <a href="/login">Go to login page</a>
    <br />
    <a href="/up">Go to upload page</a>
    <br />
    <a href="/colors">Go to colors page</a>

    <div class="card-deck">
        <div class="card pull-left">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          
            <!-- <p class="card-text"> -->
              <label class="card-text pull-left">Nolan</label><br>
              <label class="card-text pull-left">2011</label><br>
              <label class="card-text pull-left">150 min</label><br>
              <label class="card-text pull-left"><b>9</b>/10</label>
             
            <!-- </p> -->
            <p class="card-text"><small class="text-muted">2000 $</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>


    
    {greeting}
    {publish_page}
    {publish_list}

    <label>List of all Movies<br></label>
    {movie_list}

    
      
  </body>
</html>
